### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# OldVersions
**/OldVersions/*

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb

*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
*__Previews
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$
*.Cam
pcb/*.pdf
*.xlsx
*.OutJob
*Previews*
*.lck
